<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: red;
        }
    </style>
</head>
<body>

<div>
    <h1 id="h1-text">H1 text</h1>
    <h2 class="h2-text">H2 text</h2>
    <h6 class="h2-text">H6 text</h6>
    <p>Full-featured test runner with auto-waiting, assertions, tracing, and parallelism across
        <span style="color: blue">Chromium, Firefox</span>, and
        WebKit.</p>
    <a href="https://playwright.dev/python/" target="_blank">Python</a>
    <img alt="browser.png" src="https://playwright.dev/python/img/logos/Browsers.png" style="width: 250px">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <form action="/action" method="post">
        <input type="text" value="12345" placeholder="Text">
        <input required type="email" placeholder="email">
        <input type="password" placeholder="password">
        <textarea required placeholder="text">12345</textarea>
        <button type="submit" disabled>text</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        <tr>
            <td>Item 4</td>
            <td>Item 5</td>
            <td>Item 6</td>
        </tr>
        <tr>
            <td>Item 7</td>
            <td>Item 8</td>
            <td>Item 9</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>
</body>
</html>