<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><h1>H1 text</h1>
    <h2>H2 text</h2>
    <h6>H6 text</h6>
    <p>Full-featured test runner with auto-waiting, <span style="color: green">assertions</span>, tracing, and
        parallelism across Chromium, Firefox, and
        WebKit.</p></div>
<a href="https://playwright.dev/python/" target="_blank">Python</a>
<img alt="browser.png" src="https://playwright.dev/python/img/logos/Browsers.png" style="width: 250px">
<ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>
<ol>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ol>
<form action="/action" method="post">
    <input type="text" value="12345" placeholder="text">
    <input required type="email" placeholder="email">
    <input type="password" placeholder="password">
    <textarea placeholder="text">12345</textarea>
    <button type="submit">enter</button>
</form>
<table>
    <thead>
    <tr>
        <td>Item 1</td>
        <td>Item 2</td>
        <td>Item 3</td>
    </tr>


    </thead>
    <tbody>
    <tr>
        <td>row 1</td>
        <td>row 2</td>
        <td>row 3</td>
    </tr>
    <tr>
        <td>row 1</td>
        <td>row 2</td>
        <td>row 3</td>
    </tr>
    <tr>
        <td>row 1</td>
        <td>row 2</td>
        <td>row 3</td>
    </tr>
    </tbody>
</table>
</body>
</html>