<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div><h1>Заголовок H1</h1>
    <h2>Заголовок H2</h2>
    <h6>Заголовок H6</h6>
    <p>Обычный текст, <span style="color: green">который</span>, можно редактировать и выделять разным цветом по
        желанию.</p></div>
<a href="https://playwright.dev/python/" target="_blank">Ссылка</a>
<img alt="картинка не доступна (сломана)" src="https://playwright.dev/python/img/logos/Browsers.png"
     style="width: 250px">
<ul>
    <li>Список не нумеруемый 1</li>
    <li>Список не нумеруемый 2</li>
    <li>Список не нумеруемый 3</li>
</ul>
<ol>
    <li>Список нумеруемый 1</li>
    <li>Список нумеруемый 2</li>
    <li>Список нумеруемый 3</li>
</ol>
<form action="/action" method="post">
    <input type="text" value="дефолт 12345" placeholder="вводи текст">
    <input required type="email" placeholder="введи email">
    <input type="password" placeholder="введи password">
    <textarea placeholder="text">дефолт 12345</textarea>
    <button type="submit">кнопка enter</button>
</form>
<table>
    <thead>
    <tr>
        <td>Заголовок таблицы 1</td>
        <td>Заголовок таблицы 2</td>
        <td>Заголовок таблицы 3</td>
    </tr>


    </thead>
    <tbody>
    <tr>
        <td>Строка таблицы 1</td>
        <td>Строка таблицы 2</td>
        <td>Строка таблицы 3</td>
    </tr>
    <tr>
        <td>Строка таблицы 1</td>
        <td>Строка таблицы 2</td>
        <td>Строка таблицы 3</td>
    </tr>
    <tr>
        <td>Строка таблицы 1</td>
        <td>Строка таблицы 2</td>
        <td>Строка таблицы 3</td>
    </tr>
    </tbody>
</table>
</body>
</html>